.link {
  text-decoration: none;
}

.secondary {
  font-size: 0.9rem;
  color: rgb(73, 73, 73);
}

.report {
  color: red;
  transition: all 250ms ease-in-out;
}

.report:hover {
  cursor: pointer;
  transform: scale(1.2);
  transform-origin: center;
}

@media (max-width: 768px) {
  .review {
    font-size: 0.85rem;
  }

  .secondary {
    font-size: 0.8;
  }
}
