.link {
  text-decoration: none;
}

.review {
  width: 100%;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.27);
  padding: 1rem;
  margin: 0.75rem 0;
  transition: all 150ms ease-in-out;
  word-break: break-all;
}

.secondary {
  font-size: 0.9rem;
  color: rgb(73, 73, 73);
}

.waitlist {
  width: 100%;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.27);
  padding: 1rem;
  margin: 0.75rem 0;
  transition: all 150ms ease-in-out;
}

.waitlist:hover {
  transform: scale(0.99);
  background-color: #fafafa;
  transform-origin: center;
}

.report {
  color: red;
  transition: all 250ms ease-in-out;
}

.report:hover {
  cursor: pointer;
  transform: scale(1.2);
  transform-origin: center;
}

@media (max-width: 768px) {
  .review {
    font-size: 0.85rem;
  }

  .secondary {
    font-size: 0.8;
  }
}
