@import "custom";

:root {
  --pad-top: 64px;
}

html {
  height: 100%;
}

/* Push content below fixed navbar */
body {
  min-height: 100%;
  padding-top: var(--pad-top);
}

.offset-height {
  min-height: calc(100vh - var(--pad-top));
}

@media (max-width: 768px) {
  :root {
    --pad-top: 56px;
  }
}
