.Apply {
  background-image: url("../Photos/p5.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  padding: 7%;
  min-height: calc(100vh - var(--pad-top));
  width: 100%;
}
.background-red {
  background-color: red;
}

.background-blue {
  background-color: blue;
}
