.HomeP {
  /* background-image: url("../Photos/HomePagePhoto.jpg"); */
  background-image: url("../Photos/p2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.background-red {
  background-color: red;
}

.background-blue {
  background-color: blue;
}
