.widget {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.27);
  transition: all 150ms ease-in-out;
}

.widget:hover {
  color: black;
  cursor: pointer;
  transform: scale(0.99);
  background-color: #fafafa;
  transform-origin: center;
}

@media (max-width: 350px) {
  .widget {
    font-size: 1.25rem;
  }
}
