.custom-h1 {
  width: 50%;

  color: #fff;
  text-decoration-color: black;
  text-align: center;
  padding-top: 25%;
  font-size: 40px;
  margin: auto;
}
.custom-cover {
  height: 15em;
}
.custom-backgroundImage {
  background-image: url("../../Photos/background.jpg");
  min-height: 40vh;
  width: 100%;
  background-position: center;
  position: relative;
  background-size: cover;
}
.custom-bottomCover {
  background-image: url("../../Photos/cuny-objective-testing.jpg");
  min-height: 40vh;
  width: 100%;
  background-position: center;
  position: relative;
  border: #ff9f02 6px;

  background: linear-gradient(white black);
}
.meet-our-team
{
  font-size:1.2vh;
  padding-top:19px;
  height:5vh;
  width:12vh;
  text-align: center;
  overflow: hidden;
  background:#191f24;
  color:#fff;
  align-items: center;
  justify-content: center;
  height: 100%;



}


/*.coverHover:hover {
      position: relative;
      padding: 0.02em 0;
      text-decoration: underline white;
      transition: 3s;
      transition: opacity 300ms, transform 300ms;
    }
    */
.custom-backgroundImage {
  position: relative;
  color: ff9f02;
}
.custom-backgroundImage:hover {
  color: #fda81f;
  text-decoration: underline #ff9f02;
  transition: 0.5ms;
}

.custom-backgroundImage::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #ff9f02;

  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.custom-backgroundImage:hover::before {
  transform: scaleX(1);
}
.custom-col {
  height: 300px;
  border: rgb(17, 10, 0);
  border-radius: 2px;
  border-style: solid;
}
.custom-bottomCover {
  height: 200px;
  background-color: cadetblue;
  border-style: groove;
  width: 100%;
}

/* ....show more..... */
.custom-show-hide-text {
  display: flex;
  flex-wrap: wrap;
}

.custom-show-hide-text a {
  order: 2;
}

.custom-show-hide-text p {
  position: relative;
  overflow: hidden;
  max-height: 70px;
}

.custom-show-hide-text p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.custom-show-less {
  display: none;
}

.custom-show-less:target {
  display: block;
}

.custom-show-less:target ~ p {
  display: block;
  max-height: 100%;
}

.custom-show-less:target + a {
  display: none;
}

#show-more {
  color: rgb(89, 92, 231);
  border: none;
  padding: 5px 40% 5px;
  text-decoration: none;
}

#show-less {
  color: rgb(89, 92, 231);
  border: none;
  padding: 5px 40% 5px;
  text-decoration: none;
}

.custom-row {
  font-size: 60px;
  font-weight: 200;
  text-align-last: center;
  margin-top: 30px;
}



/* new cards ########################## */

.profile-card{
  height:10%;
  width:100%;
  background-color:brown;
  background-position: center;
  background-image: url('../../Photos/person1.png');
}

.cardImg{
  
  
}









/* new cards ############################## */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.custom-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  /* //background: #232427; */
}

.custom-body .custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.custom-body .custom-container .custom-card {
  position: relative;
  min-width: 320px;
  height: 380px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.custom-body
  .custom-container
  .custom-card:nth-child(1)
  .custom-box
  .custom-content
  a {
  background: #2196f3;
}

.custom-body
  .custom-container
  .custom-card:nth-child(2)
  .custom-box
  .custom-content
  a {
  background: #e91e63;
}

.custom-body
  .custom-container
  .custom-card:nth-child(3)
  .custom-box
  .custom-content
  a {
  background: #23c186;
}

.custom-body .custom-container .custom-card .custom-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2f5c97;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.custom-body .custom-container .custom-card .custom-box:hover {
  transform: translateY(-50px);
}

.custom-body .custom-container .custom-card .custom-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.custom-body .custom-container .custom-card .custom-box .custom-content {
  padding: 20px;
  text-align: center;
}

.custom-body .custom-container .custom-card .custom-box .custom-content h2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.1);
}

.custom-body .custom-container .custom-card .custom-box .custom-content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.custom-body .custom-container .custom-card .custom-box .custom-content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.custom-body .custom-container .custom-card .custom-box .custom-content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: fff;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.custom-body
  .custom-container
  .custom-card
  .custom-box
  .custom-content
  a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}


.profile-links{
 display:grid;
 grid-template-columns: 300px;
 grid-template-rows:210px 210px 80px;
}



/* last cover image */

@media (max-width: 768px) {
  .custom-h1 {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .custom-h1 {
    font-size: 30px;
  }
}

/* meet the taeam banner  */
